# Python
__pycache__/
*.py[cod]
env/
.venv/
*.egg-info/

# virtual environments
backend/venv/
frontend/venv/

# Django
*.sqlite3
db.sqlite3

# Application-specific
backend/data/*
!backend/data/.gitkeep
backend/vector_store/*
!backend/vector_store/.gitkeep
*.db

# VSCode
.vscode/

# Node
node_modules/
/dist
/build

# log files
*.log

# OS
.DS_Store
Thumbs.db
